<div class="jumbotron text-center">
	<h1>Create a New Meet</h1>
</div>
<div class="container">
	<div class="row text-center">
	<h2>Basic Info</h2>
		<form class="form-group row">
			<label for="meetName" class="col-sm-2 col-form-label">Meet Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="meetName" placeholder="Meet Name">
			</div>
		</form>
		<form class="form-group row">
			<label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" id="startDate"> 
			</div>
			<label for="startTime" class="col-sm-2 col-form-label">Start Time</label>
			<div class="col-sm-4">
				<input type="time" class="form-control" id="startTime"> 
			</div>
		</form>
		<form class="form-group row">
			<label for="endDate" class="col-sm-2 col-form-label">End Date</label>
			<div class="col-sm-4">
				<input type="date" class="form-control" id="endDate"> 
			</div>
			<label for="endTime" class="col-sm-2 col-form-label">End Time</label>
			<div class="col-sm-4">
				<input type="time" class="form-control" id="endTime"> 
			</div>
		</form>
		<!--Need to put in the javascript to use google maps to get the location-->
		<form class="form-group row">
			<label for="meetLocation" class="col-sm-2 col-form-label">Meet Location</label>
			<div class="col-sm-10">
				<input class="form-control"  id="meetLocation" placeholder="Meet Location">
			</div>
		</form>
	</div>
</div>
